<div *ngIf="isEnabled; else mycondition">
    <h1>You have Facility!</h1>
</div>

<ng-template #mycondition>
    <h1>Sorry! Facility is not available</h1>
</ng-template>

<h2>Progress bar</h2>
<div *ngIf="loading; else notLoading  ">
    <h2>{{status}}</h2>
</div>
<ng-template #notLoading>
    <div *ngFor="let user of users">
        <h3>{{user.username}}</h3>
        <p>{{user.email}}</p>
        <address>
            <p>{{user.address.street}},{{user.address.city}}</p>
        </address>
    </div>
</ng-template>
<h2>Ng vs Hidden attribute</h2>
<button class="btn btn-success" (click)="toggle()">Toggle</button>
<!--Show and Hide-->
<!-- <div *ngIf="isHidden">
    <h1>Hello</h1>
</div> -->
<div [hidden]="isHidden">
    <h1>Hai</h1>
</div>